<header>
  <mat-toolbar>**Titolo lavoro corrente**</mat-toolbar>
</header>
<nav class="navClass">
  <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
  <mat-menu #fileMenu="matMenu" yPosition="above">
    <button mat-menu-item>Esporta in formato txt</button>
    <button mat-menu-item>Chiudi lavoro</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="profileMenu">Opzioni profilo</button>
  <mat-menu #profileMenu="matMenu" yPosition="below">
    <button mat-menu-item [matMenuTriggerFor]="creaProfiloMenu">Crea</button>
    <mat-menu #creaProfiloMenu="matMenu">
      <button mat-menu-item *ngFor="let profilo of kindOfProfiles"
              (click)="manageProfile(profilo, true)">{{profilo}}</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="cancellaProfiloMenu">Elimina</button>
    <mat-menu #cancellaProfiloMenu="matMenu">
      <button mat-menu-item *ngFor="let profilo of kindOfProfiles"
              (click)="manageProfile(profilo, false)">{{profilo}}</button>
    </mat-menu>
  </mat-menu>
</nav>
<mat-divider></mat-divider>
<body>
<app-tree-profiles [item]="nomeProfiloTipo"></app-tree-profiles>
</body>
