<div class="containerTree">
  <div>
    <button mat-button (click)="accordion.openAll()" matTooltip="Espandi tutti i pannelli">Expand All</button>
    <button mat-button (click)="accordion.closeAll()" matTooltip="Chiudi tutti i pannelli">Collapse All</button>
  </div>
  <mat-accordion>
    <!--Lista form recordset viewer-->
    <mat-expansion-panel [disabled]="formRecSet === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title> FormRecordsetViewer</mat-panel-title>
        <mat-panel-description> Lista dei FormRecordsetViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-selection-list>
        <mat-list-item *ngFor="let elem of formRecSet" (click)="changeState(elem)">
          <span matListItemTitle>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-selection-list>

    </mat-expansion-panel>
    <!--Lista form record viewer-->
    <mat-expansion-panel [disabled]="formRec === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title> FormRecordsetViewer</mat-panel-title>
        <mat-panel-description> Lista dei FormRecordViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of formRec">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista grid recordset viewer-->
    <mat-expansion-panel [disabled]="grid === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>GridRecordsetViewer</mat-panel-title>
        <mat-panel-description> Lista dei GridRecordsetViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of grid">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista dei Fields-->
    <mat-expansion-panel [disabled]="fieldView === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>Fields</mat-panel-title>
        <mat-panel-description> Lista dei Fields</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of fieldView">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista dei Lookup viewer-->
    <mat-expansion-panel [disabled]="lookupV === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>LookupViewer</mat-panel-title>
        <mat-panel-description> Lista dei LookupViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of lookupV">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista dei cell viewer-->
    <mat-expansion-panel [disabled]="cell === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>CellViewer</mat-panel-title>
        <mat-panel-description> Lista dei CellViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of cell">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <!--Lista dei combobox viewer-->
    <mat-expansion-panel [disabled]="comboboxV === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>ComboboxViewer</mat-panel-title>
        <mat-panel-description> Lista dei ComboboxViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of comboboxV">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista dei checkbox viewer-->
    <mat-expansion-panel [disabled]="checkBoxV === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>CheckBoxViewer</mat-panel-title>
        <mat-panel-description> Lista dei CheckBoxViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of checkBoxV">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista messaggi-->
    <mat-expansion-panel [disabled]="MSG === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>[MSG]</mat-panel-title>
        <mat-panel-description> Lista [MSG]</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of MSG">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--lista menu-->
  </mat-accordion>
</div>
