<div class="containerTree">
  <div>
    <button mat-button (click)="accordion.openAll()" matTooltip="Espandi tutti i pannelli">Expand All</button>
    <button mat-button (click)="accordion.closeAll()" matTooltip="Chiudi tutti i pannelli">Collapse All</button>
  </div>
  <mat-accordion multi>
    <!--Lista form recordset viewer-->
    <mat-expansion-panel [disabled]="listaProfili[0].FormRecordsetViewer=== undefined">

      <mat-expansion-panel-header>
        <mat-panel-title> FormRecordsetViewer</mat-panel-title>
        <mat-panel-description> Lista dei FormRecordsetViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of listaProfili[0].FormRecordsetViewer">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista form record viewer-->
    <mat-expansion-panel [disabled]="listaProfili[0].FormRecordViewer === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title> FormRecordsetViewer</mat-panel-title>
        <mat-panel-description> Lista dei FormRecordViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of listaProfili[0].FormRecordViewer">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista grid recordset viewer-->
    <mat-expansion-panel [disabled]="listaProfili[0].GridRecordsetViewer === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>GridRecordsetViewer</mat-panel-title>
        <mat-panel-description> Lista dei GridRecordsetViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of listaProfili[0].GridRecordsetViewer">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista dei Fields-->
    <mat-expansion-panel [disabled]="listaProfili[0].Fields === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>Fields</mat-panel-title>
        <mat-panel-description> Lista dei Fields</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of listaProfili[0].Fields">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista dei Lookup viewer-->
    <mat-expansion-panel [disabled]="listaProfili[0].LookupViewer === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>LookupViewer</mat-panel-title>
        <mat-panel-description> Lista dei LookupViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of listaProfili[0].LookupViewer">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista dei cell viewer-->
    <mat-expansion-panel [disabled]="listaProfili[0].CellViewer === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>CellViewer</mat-panel-title>
        <mat-panel-description> Lista dei CellViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of listaProfili[0].CellViewer">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <!--Lista dei combobox viewer-->
    <mat-expansion-panel [disabled]="listaProfili[0].ComboboxViewer === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>ComboboxViewer</mat-panel-title>
        <mat-panel-description> Lista dei ComboboxViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of listaProfili[0].ComboboxViewer">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista dei checkbox viewer-->
    <mat-expansion-panel [disabled]="listaProfili[0].CheckBoxViewer === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>CheckBoxViewer</mat-panel-title>
        <mat-panel-description> Lista dei CheckBoxViewer</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of listaProfili[0].CheckBoxViewer">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--Lista messaggi-->
    <mat-expansion-panel [disabled]="listaProfili[0].MSG === undefined">

      <mat-expansion-panel-header>
        <mat-panel-title>[MSG]</mat-panel-title>
        <mat-panel-description> Lista [MSG]</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let elem of listaProfili[0].MSG">
          <span matListItemLine>{{elem.NomeProfilo}}</span>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
    <!--lista menu-->
  </mat-accordion>
</div>
