<div class="listProfiles">
  <div class="buttonListProfiles">
    <app-add-profile-button (onAddTitle)="createNewElem($event)"></app-add-profile-button>
    <app-login></app-login>
  </div>
  <mat-divider></mat-divider>
  <mat-selection-list>
    <div mat-subheader>Le mie note</div>
    <ng-container *ngFor="let nota of note">
      <mat-list-item (click)="openElem(nota)">
        <mat-icon matListItemIcon>note</mat-icon>
        <span matListItemTitle>{{nota.TitoloNota}}</span>
        <span matListItemLine>Creato il {{nota.DataCreazione|date:'d/MM/YYYY'}}</span>
        <span matListItemLine>Aggiornato il {{nota.DataModifica|date:'d/MM/YYYY HH:mm'}}</span>
        <!--
        (pointerover)="seeButtons=true" (pointerleave)="seeButtons = false"
        -->
      </mat-list-item>
    </ng-container>
  </mat-selection-list>
</div>
